<div class="but">
  <a href="/departments"><button type="button" class="btn btn-outline-info my-2 my-sm-0">Отделы</button></a>
  <a href="/teams"><button type="button" class="btn btn-outline-info my-2 my-sm-0">Команды</button></a>
  <a href="/employees"><button type="button" class="btn btn-outline-info my-2 my-sm-0">Сотрудники</button></a>
</div>
